.main-img-container img.person {
  left: 480px;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.bg-img {
  width: 90%;
  height: 350px;
  position: relative;
  border-top-right-radius: 800px;
  border-bottom-right-radius: 800px;
}

.bg-img img.img-clip {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-top-right-radius: 800px;
  border-bottom-right-radius: 800px;
}

.position-imgs img {
  position: absolute;
}

.position-imgs img:first-child {
  width: 200px;
  top: 550px;
  right: 200px;
}
.position-imgs img:nth-child(2) {
  width: 200px;
  top: 550px;
  left: 0;
}
.position-imgs img:nth-child(3) {
  width: 200px;
  top: 750px;
  right: 900px;
  transform: rotate(30deg);
}
.position-imgs img:nth-child(4) {
  width: 200px;
  top: 750px;
  right: 90px;
  transform: rotate(30deg);
}
.position-imgs img:nth-child(5) {
  width: 200px;
  top: 750px;
  right: 500px;
  transform: rotate(30deg);
}
.position-imgs img:last-child {
  width: 200px;
  top: 450px;
  right: 450px;
  transform: rotate(30deg);
}
